
{% extends 'base.html' %}
{% block title %}Todo App{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="border p-4 shadow">
    <h4 class="text-center">Delete Post</h4>
    <hr>
    <div class="alert alert-danger" role="alert">
        <p><strong>You sure you want to delete Post....</strong> </p>
        <p>Titel:- {{post.title}}</p>
      </div>
  <form method="POST">
{% csrf_token %}
<a href="/" class="btn btn-secondary">Cancel</a>
<input class="btn btn-danger" type="submit" value="Confirem">
  </form>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  This page not allowed for you!!! <a href="/" class="alert-link">Go back Home</a>.
</div>
{% endif %}
{% else %}
<div class="alert alert-danger" role="alert">
  This page not allowed for you!!! <a href="/" class="alert-link">Go back Home</a>.
</div>
{% endif %}
{% endblock %}



