{% extends 'base.html' %}

{% block content %}
<br>

<div class="container">
        <div class="border p-3 shadow">
   <p><h4>{{post.title}}</h4><small>By: {{post.author.first_name}} {{post.author.last_name}}
            - {{post.post_date}}</small> 
            {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                        <a class="btn  btn-sm" href="{% url 'update' post.id %}">(Edit)</a> |
                        <a class="btn btn-sm" href="{% url 'delete' post.id %}">(Delete)</a>
                  {% endif %}
           {% endif %}
        </p> 
<hr>
{% if post.hader_image  %}
<img src="{{post.hader_image.url}}">
<br>
<br>
{% endif %}
        {{post.body|safe}}
<br>

<hr>
       
         <form action="{% url 'like_post' post.id %}" method="POST">
                 {% csrf_token %}
                 {% if user.is_authenticated %}
                 {% if liked %}
                 <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">UnLike</button> 
                {% else %}
                 <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm">Like</button> 
                 {% endif %}
                 {% else %}
                 <a href="{% url 'login' %}" class="btn btn-sm">Login to like</a> 
                 {% endif %}
                 - <span>{{total_likes}}</span> Like
         </form>
</div>
</div>



{% endblock %}

